<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Developers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="developers-list">
    <div class="developer-card">
      <ion-img src="assets/me.jpg" class="developer-img"></ion-img>
      <h2>Sean Arlex O. Saez</h2>
      <p>BSIT 2-2</p>
      <p>Subject: Application Development (APPDEV)</p>
    </div>
    <div class="developer-card">
      <ion-img src="assets/jz.jpg" class="developer-img"></ion-img>
      <h2>John Zel DeGuzman</h2>
      <p>BSIT 2-2</p>
      <p>Subject: Application Development (APPDEV)</p>
    </div>
    <div class="developer-card">
      <ion-img src="assets/pinlac.png" class="developer-img"></ion-img>
      <h2>Kendrick Pinlac</h2>
      <p>BSIT 2-2</p>
      <p>Subject: Application Development (APPDEV)</p>
  </div>
  </div>
</ion-content>
